.section_main {
  z-index: 1;
  background-color: var(--black);
  height: 95%;
  width: 90%;
  padding: 3rem 1rem;
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 2rem;
  
  .container_title {
    display: flex;
    font-size: 28px;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-weight: 400;
    }

    i {
      font-size: 50px;
    }
  }

  .container_search, .container_response {
    width: 100%;
    display: grid;
    place-items: center;
  }
}

@media screen and (width > 920px) {
  .section_main {
    gap: 3rem;
    height: 75%;
    padding: 2rem 0;
    width: 80%;

    .container_title {
      font-size: 40px;
      flex-direction: row;
      i {
        font-size: 70px;
      }
    }

  }
}