@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --black: black;
  --white: white;
  --red: red;
  --gray: #D9D9D9;
  --blue: #005CFF;
}



* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  color: white;
  font-family: 'Nunito';
  
}



